<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Photos App</title>
</head>
<body>
    <header>
        <h1>Smart Photos App</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </nav>
      </header>
  <h2>Results</h2>
  <% if (imageList.length > 0) { %>
    <ul>
      <% imageList.forEach((image) => { %>
        <li><img src="<%= image %>" alt="Image"></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No images uploaded yet.</p>
  <% } %>
  <br>
</body>
</html>
